<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620604567353-7is80i3k095ga5b9rhg3n60hbbjl8qd3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620604567353-7is80i3k095ga5b9rhg3n60hbbjl8qd3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>620604567353-cnvt6lff3lu5u1mqapevel7n2rc0hioa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAbPohi1LfrFksIyyUP2MmzOpo_Jcqis5g</string>
	<key>GCM_SENDER_ID</key>
	<string>620604567353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nik.assignment1</string>
	<key>PROJECT_ID</key>
	<string>phone-auth-flutter-d0970</string>
	<key>STORAGE_BUCKET</key>
	<string>phone-auth-flutter-d0970.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620604567353:ios:f7185339f41ddba02082e8</string>
</dict>
</plist>